Project1/Client/obj
Project1/Client/bin
Project1/Server/obj
Project1/Server/bin
Project1/Server/.vscode
Project2/Client/obj
Project2/Client/bin
Project2/Server/obj
Project2/Server/bin
Project2/Server/.vscode