Project1/ProjectOne/obj
Project1/ProjectOne/bin
Project1/ProjectOne/ip.txt
Project1/ProjectOne/endport.txt
Project1/ProjectOne/myport.txt
Project1/Server/obj
Project1/Server/bin
Project1/Server/.vscode
Project2/ProjectOne/obj
Project2/ProjectOne/bin
Project2/ProjectOne/ip.txt
Project2/ProjectOne/endport.txt
Project2/ProjectOne/myport.txt
Project2/Server/obj
Project2/Server/bin
Project2/Server/.vscode